.about-content{
    padding: 77px 0 40px;
    background: rgba(0, 16, 61, 0.06);
    &__title{
        margin-bottom: 32px;
    }
    &__description{
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        /* or 133% */


        /* color-text */

        color: #2C2D2E;
        padding-right: 80px;
    }
}