

.header{
    // position: absolute;
    // width: 100%;
    // top: 0;
    // left: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 32px rgba(0, 16, 61, 0.16);
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__list{
            display: flex;
            gap: 32px;
            list-style-type: none;
            &-link{
                &:hover{
                    color: #EF7C00;
                }
            }
            &-item{
                padding: 28px 0;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #2C2D2E;
                transition: 0.3s;
                position: relative;
                &:hover{
                    .dropdown{
                        display: flex;
                    }
                }
                .dropdown{
                    display: none;
                    position: absolute;
                    flex-direction: column;
                    top: 100%;
                    padding: 16px 38px 16px 24px;
                    background: #FFFFFF;
                    border: 1px solid rgba(0, 16, 61, 0.12);
                    border-radius: 0px 0px 4px 4px;
                    left: -42px;
                    z-index: 2;
                    &__item{
                        white-space: nowrap;
                        margin-bottom: 16px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                        &:hover{
                           color: #EF7C00; 
                        }
                    }
                }
                &::before{
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 28px;
                    background: rgba(0, 16, 61, 0.12);
                    right: -16px;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &:last-child{
                    &::before{
                        display: none;
                    }
                }
            }
        }
        .lang{
            display: flex;
            gap: 8px; 
            &__item{
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                line-height: 20px;
    /* identical to box height, or 154% */
                align-items: center;
                background: transparent;
                color: #919399;
                border: none;
                cursor: pointer;
                position: relative;
                &::before{
                content: '';
                    position: absolute;
                    width: 1px;
                    height: 23px;
                    background: rgba(0, 16, 61, 0.12);
                    right: -4px;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &:last-child{
                &::before{
                    display: none;
                }
            }
            &_active{
                color: #EF7C00;
            }
            }
        }
    }
    .burger-menu{
        display: none;
        position: relative;
        width: 30px;
        height: 20px;
        cursor: pointer;
        z-index: 3;
        &__line{
            background-color: #000;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            top: 9px; 
            transition: .4s;
        }
        &::before,
        &::after{
            content: "";
            background-color: #000;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: .4s;
        }
        &::before{
            top: 0;
        }
        &::after{
            bottom: 0;
        }
        &_activ{
            .burger-menu__line{
                background: transparent;
            }
            &::before{
                transform: translateY(-50%) rotate(45deg); 
                top: 9px;  
            }
            
            &::after{
                transform: translateY(-50%) rotate(-45deg);
                bottom: 9px;
            }
        }
    }
    @media (max-width:1000px){
        .nav{
            padding: 10px 0;
            height: 75px;
            &__list{
                display: none;
                &_activ{
                    background: #fff;
                    top: 75px;
                    left: 0;
                    display: block;
                    position: fixed;
                    z-index: 2;
                    width: 100%;
                    height: 100%;
                }
            }
            &-item{
                display: none;
            }
            .burger-menu{
                display: inline !important;
                order: 1;
            }
            .logo{
                order: 2;
            }
            .lang{
                order: 3;
            }
        }
    }
}

