.our-team{
    padding: 77px 0 40px;
    background: rgba(0, 16, 61, 0.06);
    &__description{
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        /* or 133% */


        /* color-text-secondary */

        color: #919399;
        padding-right: 50px;
    }
}